@keyframes slide-down {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fadeInDown {
  animation-name: slide-down, fade-in;
}

.banner {
  height: 512px;
  position: relative;
  overflow: hidden;
}

.banner__image {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  animation-name: fade-in;
  opacity: 0;
  animation-duration: 3s;
  animation-delay: 1s;
}

.banner__header {
  @include center(both);
  width: 100%;
  z-index: $z-index-header;

  .banner__header--title {
    letter-spacing: 2px;
    margin-bottom: $gl-spacing-3;
  }

  .banner__header--description {
    font-size: 1.375rem;
    padding: 0 $gl-spacing-4;
  }
}

.index {
  p {
    @include type-scale(1, 6, 2, 0);

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    @include type-scale(4, 6, 3, 0);
  }

  h3 {
    @include type-scale(6, 8, 2);
  }
}

.two-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $gl-spacing-7;
  justify-content: space-between;

  @media (min-width: 960px) {
    flex-direction: row;
    gap: $gl-spacing-8;
  }
}

.two-column--alt {
  @media (min-width: 960px) {
    .two-column-end {
      order: 1;
    }
    .two-column-start {
      order: 2;
    }
  }
}

.two-column-start {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 320px;
  width: 100%;

  .two-column-image {
    height: auto;
    margin: auto;
    width: 100%;
  }

  .two-column-image--small {
    max-width:180px
  }
}

.two-column-end {
  flex-grow: 1;
  flex-shrink: 1;
}

.components-list {
  gap: $gl-spacing-7;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

  .component-card {
    &:hover,
    &:focus {
      border-color: $gray-200;
    }
  }
}
