<template>
  <nuxt-link to="/" class="logo">
    <img src="/pajamas-logo.svg" alt="" width="14" height="24" />
    <span>
      <strong>Pajamas</strong>
      <small>GitLab Design System</small>
    </span>
  </nuxt-link>
</template>
